#home h1{
    font-weight: bolder;
}
#home h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
  
  @media (min-width: 1200px) {
    #home h1{
      font-size: 5rem;
    }
  }
@media screen and (max-width: 768px) {
    #home .img-fluid{
    max-width: 100px;
    height: auto;
}
}
