#contact{
    font-family:Maiandra GD;
}
hr{
    height: 5px;
    background-image: radial-gradient(white,white,white,white,white,white,grey,grey,black,black,black,black)
}
#submit button{
    background-image: none;
    background-color: transparent;
    border:2px #C0C0C0 solid;
}
#submit button:hover{
    color:white;
    border:2px white solid;
}